@import 'tailwindcss';

@theme {
  --color-navy:#0461a6;
  --color-blue: #0089c1;
  --color-gray: #7D8080;
  --color-dark-gray: #787777;
  --color-light-gray: #faf9f8;
  --color-white: #FFFFFF;

  --font-size-header2: 1.5rem;
  --font-size-sm: 0.8rem;
  --font-size-md: 1.1rem;
  --font-size-lg: 1.25rem;
  --font-size-text-matches: 0.6rem;

  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

/* Define utilities using your variables */
@layer utilities {
  .text-sm { font-size: var(--font-size-sm); }
  .text-md { font-size: var(--font-size-md); }
  .text-lg { font-size: var(--font-size-lg); }

  .p-1 { padding: 0.25rem; }
  .p-4 { padding: 1rem; }

  .text-blue { color: var(--color-blue); }
  .text-dark-gray { color: var(--color-dark-gray); }
  .bg-light-gray { background-color: var(--color-light-gray); }
}

@layer base {
  body{
    font-family: "Montserrat", serif;
  }

  table,
  th,
  td {
    @apply text-sm p-1;
  }

  @media (min-width: 768px) {
  table,
  th,
  td {
    font-size: var(--font-size-md);
    padding: 1rem;
  }
}

  tr:nth-child(even) {
    @apply text-dark-gray text-center bg-light-gray;
  }

  th {
    @apply text-blue font-semibold text-center bg-light-gray;
  }

  td {
    @apply text-dark-gray text-center;
  }
}